*.jpg
*.png
data
*.avi
*feh_*
*.pkl
*__pycache__*
*tmp*
*.idea
*.DS_Store*
*egg-info*
*.ply*
*linecount*
*pytest_cache*
*.vscode*
*dsprites-dataset*

*.code-workspace*

*.so*
*build

*imgui.ini*

*logs*

rl2seq

*plot_table*

cpt/model
cpt/data
solver/model
solver/data

*HW*

# chaoyi's local files
*.hdf5
# *.txt
*chaoyi*
*webm*
*events*
*Log*
*zhiao3_disk1*
*.npz*
*.mp4
*.webm
# *.png
*.json
*partnet-mobility-dataset*
*.pt
*.pcd
*.zip
*.tiny

*.gif
*.VSCodeCounter
*.cache*
*.dot
site
docsmd

*.ruby-version*
*.puml
pytorch-soft-actor-critic
*robojax
*.sdf
*rpg_video*
*docs/deepwand.*
results
*leetcode*
SAPIEN-ReplicaCAD
*.npy

*.bag*
*.pgm

map.yaml


ros2_ws/install
ros2_ws/log
ros2_ws/src/slam_gmapping
third_party/*
*.pth
third_party/Grounded-Segment-Anything

robotics/ros/rosbag2_*

*.glb
*.dae
*.stl
*.STL
*.DAE
CoACD
robotics/assets/mobile_sapien/xarm7
robotics/assets/mycobot_pi
robotics/assets/mycobot_pi_v2
robotics/assets/turtlebot4
robotics/assets/*

robotics/assets/v-hacd
